body, html {
	width:100%; 
	height:100%; 
	margin:0; 
	padding:0; 
	overflow:hidden;
}

#cpRendering {
	overflow:			visible;
	padding:			0px;
	margin:				0px;
	justify-content:	center;
	display:			flex;
}
#cboRendering {
	padding:	2px;
	display:	inline-flex;
}
#bcCenter {
	background-color:black;
	display:	flex;
}

#lytMain {
	width:		100%;
	height:		100%;
}
.gridTop {
	height:		50px;
}
.gridLeft {
	width: 		125px;
}
.ddlAttrs {
	margin-top:	3px;
	width:		75%;
}
.DynamicMapPane {
	display:	flex;
	flex:		1 1 0px;
	flex-wrap:	wrap;
	padding-right:8px;
}
.esri-ui-corner {
	opacity:	0.7;
}
.mapPaneTopBar {
	display:	inline-block;
	top:		5px;
	height:		40px;
	width:		100%;
}
.mapPaneCloseButton {
	opacity:	0.75;
	float:		right;
}
.mapPaneCloseButton:hover {
	opacity:	1.0;
}
.btnAddMap {
	margin-left:auto;
}
#dlgRenderer {
}
#ddlAlgorithms {
	float:		right;
}
#pnlCurrentColorRamp, .colorRamp {
	display:	flex;
	padding:	2px;
	width:		250px;
	transition: background-color 0.25s ease;
}
.colorRamp:hover {
	background: blue;
}
.rampcoloritem {
	flex:		1;
	height:		25px;
}
.colorRamp5 .rampcoloritem {
}
.colorRamp7 .rampcoloritem {
}
.colorRamp9 .rampcoloritem {
}
